<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/main.css" crossorigin="anonymous">
    <title>PLCP</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PLCP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">LOAD 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/2">LOAD 2</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/3">LOAD 3<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/4">LOAD 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <label class="switch">
  <input type="checkbox" checked>
  <span class="slider round"></span>
  </label>
    <!-- <form class="form-inline my-2 my-lg-0"> -->
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
    <!-- </form> -->
  </div>
</nav>
<div class="container">
        <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Bill Last Month</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">&#8377;700<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Total Power Consumed</li>
              <li>Unit Price</li>
            </ul>
            <a href="/data_csv"><button type="button"  class="w-100 btn btn-lg btn-primary">PrintOut Statistics</button></a>
        </div>
      </div>
 </div>
<div class="container" style="padding:30px;">
<table class="table" >
  <thead>
    <tr>
      <th scope="col">TIME</th>
      <th scope="col">VOLTAGE</th>
      <th scope="col">CURRENT</th>
      <th scope="col">PF</th>
      <th scope="col">POWER</th>
    </tr>
  </thead>
  <tbody>
  {%for i in data %}
    <tr>
      <th scope="row">{{i.dt}}</th>
      <td>{{i.Voltage}}</td>
      <td>{{i.Current}}</td>
      <td>{{i.pf}}</td>
      <td>{{i.Power}}</td>
    </tr>
	{% endfor %}
  </tbody>
</table>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
     <p align="center">
	<canvas id="Voltage" style="width:100%;max-width:700px;padding:20px;"></canvas>
	</p>
    </div>
    <div class="col-sm">
      <p align="center">
	<canvas id="Current" style="width:100%;max-width:700px;padding:20px;"></canvas>

	</p>
    </div>
    <div class="col-sm">
      <p align="center">
	<canvas id="Power" style="width:100%;max-width:700px;padding:20px;"></canvas>
	</p>
    </div>
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
	</script>
	<script>
	var xValues = [];
	{% for i in dtt %}
		xValues.push(String("{{i}}"));
		{% endfor %}

		new Chart("Voltage", {
		  type: "line",
		  data: {
			labels: xValues,
			datasets: [{
			  data:{{V}},
			  borderColor: "red",
			  fill: false
			},]
		  },
		  options: {
			legend: {display: false},
			title: {
      display: true,
      text: "Voltage"
    }
		  }
		});
		
		new Chart("Current", {
		  type: "line",
		  data: {
			labels: xValues,
			datasets: [{
			  data: {{I}},
			  borderColor: "blue",
			  fill: false
			}]
		  },
		  options: {
			legend: {display: false},
			title: {
      display: true,
      text: "Current"
    }
		  }
		});
		
		
		new Chart("Power", {
		  type: "line",
		  data: {
			labels: xValues,
			datasets: [{
			  data: {{ P }},
			  borderColor: "green",
			  fill: false
			},]
		  },
		  options: {
			legend: {display: false},
			title: {
      display: true,
      text: "Power"
    }
		  }
		});
		
	</script>
	
	
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

